# dependencies
node_modules/

# environments
.env
.env.*
!.env.example

# electron build outputs
dist-electron/
renderer/dist/

# build / compile directories
dist/
build/
bin/
obj/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
